<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe</title>
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/jQuery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- Start TopBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div>
                <i class="fas fa-cart-plus"></i>
                <a class="navbar-brand fs-6">Dashboard</a>
            </div>

            <div class="login_area"><a href="/products" class="fst-italic back-home" id="userPresent"> <i class="fas fa-sign-out-alt fs-6"></i></a></div>
        </div>
    </nav>
    <!-- End TopBar -->
    <div class="row">
        <div class="col-2 side-bar-custom">

            <div>
                <h5 class="my-3">Menu</h5>
                <h6 class="my-3 fs-6 btn-order-management"><i class="fas fa-shopping-cart"></i> Order List</h6>
                <h6 class="my-3 fs-6 btn-active-selected"><i class="fas fa-tasks"></i> Products</h6>
                <div class="container-fluid">
                    <div class="row" id="product-data">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="main-product">
                <h5 class="fw-bold">Product List Management</h5>
                <div class="select-area">
                    <select class="form-select" id="select-field" aria-label="Select Field">
                        <option selected value="id">ID</option>
                        <option value="title">Title</option>
                        <option value="category">Category</option>
                        <option value="company">Company</option>
                        <option value="color">Color</option>
                        <option value="newPrice">Price</option>
                    </select>
                    <select class="form-select" id="select-direction" aria-label="Select Direction">
                        <option selected value="asc">Ascending</option>
                        <option value="desc">Decreasing</option>
                    </select>
                    <select class="form-select" id="select-size" aria-label="Select quantity per Page">
                        <option selected value="5">5 product</option>
                        <option value="10">10 product</option>
                        <option value="15">15 product</option>
                        <option value="20">20 product</option>
                        <option value="25">25 product</option>
                        <option value="30">30 product</option>
                        <option value="40">40 product</option>
                        <option value="50">50 product</option>
                        <option value="100">100 product</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover table-product">
                            <thead>
                            <tr class="header-table-oder">
                                <th scope="col">Product</th>
                                <th scope="col">Color</th>
                                <th scope="col">Category</th>
                                <th scope="col">Company</th>
                                <th scope="col">Price</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody class="data-product-table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<script>
    const pageCurrent = 0;
    async function getCustomerPresent(){
        return await $.ajax({
            url: 'http://localhost:8081/api/customerInfo'
        })
    }
    async function getAllProduct(){
        const sortField = $('#select-field').find(":selected").val();
        const direction = $('#select-direction').find(":selected").val();
        const size = parseInt($('#select-size').find(":selected").val());
        return await $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            method: 'GET',
            url: 'http://localhost:8081/api/product/all',
            data: {
                page: pageCurrent,
                size: size,
                sortField : sortField,
                direction : direction
            }
        })
    }
    async function showDataProduct(){
        const products = await getAllProduct()
        $('.data-product-table').empty()
        products.content.forEach(item =>{
            const strRenderProduct = renderTableProduct(item)
            $('.data-product-table').append(strRenderProduct)
        })
    }
   function renderTableProduct(product){
        let colors = product.color.nameColor;
       console.log(colors)
        if(colors === 'White'){
            colors = 'black'
        }else colors = 'white'

        return `            <tr>
                                <td style="text-align: left"><img src="${product.img}" style="width: 6rem; height: 4rem; margin-right: 2rem"><span> ${product.title}</span></td>
                                <td><p style="background-color: ${product.color.nameColor}; border: solid 1px blueviolet; border-radius: 5px;color: ${colors}; font-size: 13px; font-weight: bold">${product.color.nameColor}</p></td>
                                <td>${product.category.nameCategory}</td>
                                <td>${product.company.nameCompany}</td>
                                <td>
                                     <div style="text-decoration: line-through">$${product.prevPrice}</div>
                                     <div>$${product.newPrice}</div>
                                </td>
                                <td>
                                <div><span>${product.star} </span><span><i class="fas fa-star" style="color: #fd7e14;"></i></span></div>
                                <div><span>${product.reviews} </span><span><i class="fas fa-eye" style="color: #0a58ca;"></i></span></div>
                                </td>
                                <td><span><i class="fas fa-edit"></i> </span><span><i class="fas fa-trash-alt" style="color: #ff0000;"></i></span></td>
                            </tr>`
    }

    $('.back-home').on('click', function (){
        window.location.href = 'http://localhost:8081/products'
    })
    $('.btn-order-management').on('click', function (){
        window.location.href = 'http://localhost:8081/products/management'
    })
    $('.form-select').on('change', function (){
        showDataProduct()
    })
    $(async () => {
        await showDataProduct()
    })

</script>
</body>