<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe</title>
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/jQuery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- Start TopBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div>
                <i class="fas fa-cart-plus"></i>
                <a class="navbar-brand fs-6">Dashoard</a>
            </div>

            <div class="login_area"><a href="/products" class="fst-italic back-home" id="userPresent"> <i class="fas fa-sign-out-alt fs-6"></i></a></div>
        </div>
    </nav>
    <!-- End TopBar -->
    <div class="row">
        <div class="col-2 side-bar-custom">

            <div>
                <h5 class="my-3">Menu</h5>
                <h6 class="my-3 fs-6 btn-active-selected"><i class="fas fa-shopping-cart"></i> Order List</h6>
                <h6 class="my-3 fs-6"><i class="fas fa-tasks"></i> Products</h6>
                <div class="container-fluid">
                    <div class="row" id="product-data">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="main-product">
                <h5 class="fw-bold">Order Management</h5>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead>
                            <tr class="header-table-oder">
                                <th scope="col">Order Date</th>
                                <th scope="col">Total Products</th>
                                <th scope="col">Shipping</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Actions </th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<script>
    async function getCustomerPresent(){
        return await $.ajax({
            url: 'http://localhost:8081/api/customerInfo'
        })
    }
    async function getAllOder(){
        return await $.ajax({
            url: 'http://localhost:8081/api/customerInfo'
        })
    }
    async function addData(){
        const customerPresent = await getCustomerPresent();
        $('#userPresent').append(customerPresent.fullName)
    }
    $('.back-home').on('click', function (){
        window.location.href = 'http://localhost:8081/products'
    })
    $(async () => {
        await addData()
    })

</script>
</body>