<html>
<body>
<a id='linkButton'>ClickMe</a>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#linkButton').click(function() {
            toastr.error('Click Button');
        });
    });
</script>
</body>
</html>