body {
  /*background: linear-gradient(to right, #0f2027, #203a43, #2c5364);*/
  font-family: 'Poppins', sans-serif;
}
i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  .navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: white !important
  }
  .login_area{
    margin-left: 20rem;
  }
  #navbarSupportedContent input{
    border: none;
  }
  #navbarSupportedContent{
    border-width: 0.3px;
    border-color: #bbb8b8;
    border-style: solid;
    border-radius: 5px;
  }
  nav{
    border-bottom: 0.3px solid #bbb8b8;
  }
  .col-2.side-bar{
    border-right: #bbb8b8 0.3px solid;
  }
  h5{
    margin-top: 1rem;
  }
  .image-shoes{
    width: 8rem;
    margin-left: 5px;
    height: 6rem;
  }
  .review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9rem;
  }
  .star-count{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    margin-top: 3px;
  }
  .fas.fa-star{
    font-size: 15px;
    margin-right: 1px;
  }
  .buyProduct{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 5px;
    justify-content: center;
  }
  .bt-add-to-cart{
    margin-left: 80px;
  }
  .card-title{
    font-size: 1rem;
  }
  .col-3.product-cell{
    margin-top: 2rem;
  }
  .card{
    height: 15rem;
  }
  .total-payment{
    background-color: #0003;
    border-radius: 5px;
  }
  .total-payment-area{
    padding: 1rem;
  }
  .total-payment-area h3{
    border-bottom: solid snow 0.1px;
    padding-bottom: 5px;
  }
  .total-payment-details {
    border-top: solid snow 0.1px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
  }
  .payment-details{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-info-customer{
    background-color: #0000001a;
    border-radius: 5px;
    margin-top: 5px;
  }
  .form-info-customer form{
    padding: 1rem;
  }
  .table td{
    vertical-align: middle;
    text-align: center;
    margin: auto;
  }
.table th{
  vertical-align: middle;
  text-align: center;
}
.btn-deleteCD{
  cursor: pointer;
}
.hide{
  display: none;
}
.btn-get-page{
  cursor: pointer;
}
.btn-add-cart{
  cursor: pointer;
}
.btn-account{
  cursor: pointer;
}
.form-group .input-area{
  border: 0;
  border-radius: 5px;
  width: 20rem;
  height: 2.5rem;
  margin: auto;
  padding-left: 1rem;
}
.error-message{
  color: red;
  margin-top: 0.5rem;
}
.btn-submit-form{
  width: 20rem;
  height: 3rem;
}
.side-bar-custom h5{
  font-weight: bold;
}
.side-bar-custom h6{
  padding: 0.5rem;
}
.btn-active-selected{
  background-color: #b9dcff;
}
.header-table-oder th{
  background-color: #2686e6;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.data-order-table td{
  font-size: 13px;
}
.record-detail{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-record{
  font-weight: bold;
}
.detail-oder-show{
  border: solid grey 1px;
  border-radius: 16px;
}
.info-order h6{
  font-weight: bold;
  margin-bottom: 1rem;
}
.info-order{
  border-top: solid grey 0.5px;
  padding-top: 1rem;
}
.detail-oder-show h5{
  font-weight: bold;
}
.info-order td{
  font-size: 14px;
}
.hide{
  display: none;
}
.data-product-table td{
  font-size: 14px;

}
.data-product-table td p{
  margin: auto;
}
.select-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.select-area select{
  width: 10rem;
}
.upload-image-area{
  border: dashed gray 1px;
  border-radius: 1rem;
}
.add-product-area{
  background-color: #b9dcff;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}