<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe</title>
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/jQuery.js"></script>
</head>

<body>
<div class="container">
    <!-- Start TopBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <i class="fas fa-cart-plus"></i>
            <a class="navbar-brand" href="/products">Shoe Ecommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <input class="form-control me-2 search" type="search" placeholder="Enter your search shoes"
                       aria-label="Search" id="input-search" value="">
                <i class="fas fa-search"></i>
            </div>
            <div class="login_area">
                <i class="fas fa-shopping-cart btn-add-cart">
                </i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </nav>
    <!-- End TopBar -->
    <div class="row">
        <h3>Cart Detail</h3>
        <div class="col-8 side-bar">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-4 side-bar">
            <div class="total-payment">
                <div class="total-payment-area">
                    <h3>Order Summary</h3>
                    <div class="payment-details">
                        <div >Subtotal</div>
                        <div  style="font-weight: bold" id="subtotal-cart"></div>
                    </div>
                    <div class="payment-details">
                        <div >Shipping</div>
                        <div style="font-weight: bold">$5</div>
                    </div>
                    <div class="total-payment-details">
                        <div>Total</div>
                        <div class="total-amount-cart"></div>
                    </div>
                </div>
            </div>
            <div class="form-info-customer">
                <form>
                    <h3>Customer Info</h3>
                    <div class="row mb-3">
                        <div style="margin-bottom: 5px">FullName</div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputFullName" placeholder="FullName">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="margin-bottom: 5px">Address</div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="margin-bottom: 5px">Email</div>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="margin-bottom: 5px">Mobile</div>
                        <div class="col-sm-12">
                            <input type="tel" class="form-control" id="inputMobile" placeholder="Mobile">
                        </div>
                    </div>
                    <div class="row mb-3">
                    <button type="submit" class="btn btn-success">CHECK OUT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--&lt;!&ndash;    Modal confirm Delete&ndash;&gt;-->
    <div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want delete this product ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary" id="btn-confirm-delete">Yes</button>
                </div>
            </div>
        </div>
    </div>
<!--&lt;!&ndash;.................................&ndash;&gt;-->
</div>
<script>
    const idUser = 1;
    async function getAllCartDetail() {
        return await $.ajax({
            url: 'http://localhost:8081/api/cartDetail'
        })
    }
    async function showCart(){
        const cart = await getAllCartDetail();
            $('.table tbody').empty();
        cart.forEach(element =>{
            const strRenderCart = renderCart(element);

            $('.table tbody').append(strRenderCart);
        })
        getAmount()
        $('.btn-deleteCD').on('click', function (){
            const idCartDetail = $(this).attr('id')
            $('#btn-confirm-delete').on('click', async function (){
                $('.modal-backdrop').addClass('hide')
               await deleteCartDetail(idCartDetail)
            })
        })
        getSubTotal()
    }

    function getAmount(){

        document.querySelectorAll('.record-cart-detail').forEach(item =>{
            const quantity =  parseInt(item.querySelector('.cart-detail-quantity').innerText)
            const price = parseInt(item.querySelector('.cart-detail-price').innerText)
            item.querySelector('.amount-cell').innerText = ''
            item.querySelector('.amount-cell').append(quantity * price)
        })
    }
    function deleteCartDetail(idCartDetail){
        $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            url: 'http://localhost:8081/api/cartDetail/delete/' + idCartDetail,
            method: 'DELETE',
        }).done((data) =>{
            alert("Xoá thành công!");
            showCart()
        }).fail((err) =>{
            alert("Thất bại!")
        })
    }
    function renderCart(cartDetail){
        return `<tr class="record-cart-detail">
                    <td><img src="${cartDetail.product.img}" style="width: 100px"></td>
                    <td class="cart-detail-price">${cartDetail.product.newPrice}</td>
                    <td><div class="btn-group " role="group" aria-label="Basic outlined example">
                          <p type="button" class="btn btn-outline-secondary fw-bold btn-reduce" onclick="reduceCd(${cartDetail.id})">-</p>
                          <p class="btn border-secondary fw-bold cart-detail-quantity" id="quantity-CD-${cartDetail.id}">${cartDetail.quantity}</p>
                          <p type="button" class="btn btn-outline-secondary fw-bold btn-add" onclick="addCd(${cartDetail.id})">+</p>
                        </div>
                    </td>
                    <td class="amount-cell"></td>
                    <td><i data-bs-toggle="modal" data-bs-target="#modalConfirm" id="${cartDetail.id}" class="fas fa-trash-alt btn-deleteCD" ></i></td>
<!--                    <td><i id="${cartDetail.id}" class="fas fa-trash-alt btn-deleteCD "></i></td>-->
                </tr>`
    }
    function getSubTotal(){
        let subTotal = 0;
        document.querySelectorAll('.amount-cell').forEach(item =>{
            subTotal += parseInt(item.innerText)
        })
        let strSubTotal = '$' + subTotal
        $('#subtotal-cart').text(strSubTotal)
        let totalAmount = subTotal +5;
        let strTotalAmount = '$' +  totalAmount;
        $('.total-amount-cart').text(strTotalAmount)
    }
    function reduceCd(idCartDetail){
        let strId = 'quantity-CD-' + idCartDetail;
        var quantity = parseInt(document.getElementById(strId).innerText)
        if(quantity <= 1){
            alert("You can't buy less 1 product/oder")
        }else{
            quantity--
            document.getElementById(strId).innerText = quantity;
            getAmount()
            getSubTotal()
        }
    }
    function addCd(idCartDetail){
        let strId = 'quantity-CD-' + idCartDetail;
        var quantity = parseInt(document.getElementById(strId).innerText)
        if(quantity >= 10){
            alert("You can't buy more 10 product/oder")
        }else{
            quantity++
            document.getElementById(strId).innerText = quantity;
            getAmount()
            getSubTotal()
        }
    }
    showCart()

</script>
</body>
</html>