<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe</title>
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/custom-style.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/jQuery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- Start TopBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="back-home">
                <i class="fas fa-cart-plus"></i>
                <a class="navbar-brand" href="/products" ()>Shoe Ecommerce</a>
            </div>

            <div class="login_area">
                <i class="fas fa-shopping-cart">
                </i>
                <i class="fas fa-user"></i>
                <span id="userPresent"></span>
            </div>
        </div>
    </nav>
    <!-- End TopBar -->
    <div class="row">
        <h3>Cart Detail</h3>
        <div class="col-8 side-bar">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-4 side-bar">
            <div class="total-payment">
                <div class="total-payment-area">
                    <h3>Order Summary</h3>
                    <div class="payment-details">
                        <div >Subtotal</div>
                        <div  style="font-weight: bold" id="subtotal-cart"></div>
                    </div>
                    <div class="payment-details">
                        <div >Shipping</div>
                        <div style="font-weight: bold">Free</div>
                    </div>
                    <div class="total-payment-details">
                        <div>Total</div>
                        <div class="total-amount-cart"></div>
                    </div>
                </div>
            </div>
            <div class="form-info-customer">
                <form class="form-infoCustomer" method="post">
                    <h3>Customer Info</h3>
                    <input hidden id="id" type="number">
                    <div class="form-group my-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input class="input-area" id="fullName" name="fullName" type="text" placeholder="Full Name">
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group my-3">
                        <label for="address" class="form-label">Address</label>
                        <input class="input-area" id="address" name="address" type="text" placeholder="Address">
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group my-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="input-area" id="email" name="email" type="email" placeholder="Email">
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group my-3">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input class="input-area" id="mobile" name="mobile" type="tel" placeholder="Mobile">
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group my-3">
                    <button type="button" class="btn btn-submit-form btn-success">CHECK OUT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--&lt;!&ndash;.................................&ndash;&gt;-->
</div>
<script>
    const idUser = 1;
    async function getAllCartDetail() {
        return await $.ajax({
            url: 'http://localhost:8081/api/cartDetail'
        })
    }
    function updateCartDetail(idCartDetail, quantity){
        return $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            method: "GET",
            url: 'http://localhost:8081/api/cartDetail/update/' + idCartDetail,
            data: {
                quantity : quantity
            }
        }).done((data) =>{
            toastr.success('Updated your Cart!');
        }).fail((err) =>{
            toastr.error("Update Cart Fail!")
        })
    }
    async function showCart(){
        const cart = await getAllCartDetail();
            $('.table tbody').empty();
        cart.forEach(element =>{
            const strRenderCart = renderCart(element);

            $('.table tbody').append(strRenderCart);
        })
        getAmount()
        $('.btn-deleteCD').on('click', function (){
            const idCartDetail = $(this).attr('id')
            showConfirmDelete(idCartDetail)
        })
        getSubTotal()
        await showCartQuantity()
    }
    function showConfirmDelete(idCartDetail){
        Swal.fire({
            title: "Are you sure to remove this cart item?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then(async (result) => {
            if (result.isConfirmed) {
                deleteCartDetail(idCartDetail)
                Swal.fire({
                    title: "Deleted!",
                    text: "Your cart item has been deleted.",
                    icon: "success"
                });
            }
        });
    }
    async function getCustomerPresent(){
        return await $.ajax({
            url: 'http://localhost:8081/api/customerInfo'
        })
    }

    function getAmount(){

        document.querySelectorAll('.record-cart-detail').forEach(item =>{
            const quantity =  parseInt(item.querySelector('.cart-detail-quantity').innerText)
            const price = parseInt(item.querySelector('.cart-detail-price').innerText)
            item.querySelector('.amount-cell').innerText = ''
            item.querySelector('.amount-cell').append(quantity * price)
        })
    }
    function deleteCartDetail(idCartDetail){
        $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            url: 'http://localhost:8081/api/cartDetail/delete/' + idCartDetail,
            method: 'DELETE',
        }).done((data) =>{
            toastr.success('Delete Successfully!');
            showCart()
        }).fail((err) =>{
            toastr.error('Delete failed!')
        })
    }
    function renderCart(cartDetail){
        return `<tr class="record-cart-detail">
                    <td><img src="${cartDetail.product.img}" style="width: 100px"></td>
                    <td class="cart-detail-price">${cartDetail.product.newPrice}</td>
                    <td><div class="btn-group " role="group" aria-label="Basic outlined example">
                          <p type="button" class="btn btn-outline-secondary fw-bold btn-reduce" onclick="reduceCd(${cartDetail.id})">-</p>
                          <p class="btn border-secondary fw-bold cart-detail-quantity" id="quantity-CD-${cartDetail.id}">${cartDetail.quantity}</p>
                          <p type="button" class="btn btn-outline-secondary fw-bold btn-add" onclick="addCd(${cartDetail.id})">+</p>
                        </div>
                    </td>
                    <td class="amount-cell"></td>
<!--                    <td><i data-bs-toggle="modal" data-bs-target="#modalConfirm" id="${cartDetail.id}" class="fas fa-trash-alt btn-deleteCD" ></i></td>-->
                    <td><i id="${cartDetail.id}" class="fas fa-trash-alt btn-deleteCD "></i></td>
                </tr>`
    }
    function getSubTotal(){
        let subTotal = 0;
        document.querySelectorAll('.amount-cell').forEach(item =>{
            subTotal += parseInt(item.innerText)
        })
        let strSubTotal = '$' + subTotal
        $('#subtotal-cart').text(strSubTotal)
        let totalAmount = subTotal;
        let strTotalAmount = '$' +  totalAmount;
        $('.total-amount-cart').text(strTotalAmount)
    }
    function reduceCd(idCartDetail){
        let strId = 'quantity-CD-' + idCartDetail;
        var quantity = parseInt(document.getElementById(strId).innerText)
        if(quantity <= 1){
            toastr.error("You can't buy less 1 product/order")
        }else{
            quantity--
            document.getElementById(strId).innerText = quantity;
            getAmount()
            getSubTotal()
            updateCartDetail(idCartDetail, quantity)
        }
    }
    function creatOder(){
        const id = $('#id').val()
        const fullName = $('#fullName').val()
        const address = $('#address').val()
        const email = $('#email').val()
        const mobile = $('#mobile').val()

        const customerInfo = {
            id,
            fullName,
            address,
            email,
            mobile
        }
        console.log(customerInfo)
        $.ajax({
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            method: "POST",
            url: 'http://localhost:8081/api/order/create',
            data: JSON.stringify(customerInfo)
        }).done((data) =>{
            toastr.success("Create order successfully!!!")
            showCart()
        }).fail((err) =>{
            toastr.error("Create order fail!")
            showCart()
        })
    }
    function addCd(idCartDetail){
        let strId = 'quantity-CD-' + idCartDetail;
        var quantity = parseInt(document.getElementById(strId).innerText)
        if(quantity >= 10){
            toastr.error("You can't buy more 10 product/order")
        }else{
            quantity++
            document.getElementById(strId).innerText = quantity;
            getAmount()
            getSubTotal()
            updateCartDetail(idCartDetail, quantity)
        }
    }
    $('.btn-submit-form').on('click', async function (){
        await creatOder()
    })
    async function showCartQuantity(){
        const cart = await getAllCartDetail();
        $('.fa-shopping-cart').empty()
        $('.fa-shopping-cart').removeClass('btn-add-cart')
        if(cart.length != 0){
            $('.fa-shopping-cart').append(`<span class="position-relative top-0 start-40 translate-middle badge rounded-pill bg-danger quantity-cart-detail">${cart.length}</span>`)
            $('.fa-shopping-cart').addClass('btn-add-cart')
        }
    }
    async function renderInfo(){
        const customerPresent = await getCustomerPresent();
        $('#userPresent').text(customerPresent.fullName)
        $('#id').val(customerPresent.id)
        $('#fullName').val(customerPresent.fullName)
        $('#address').val(customerPresent.address)
        $('#email').val(customerPresent.email)
        $('#mobile').val(customerPresent.mobile)
    }
    $(async () => {
        await showCart()
        await renderInfo()
    })


</script>
</body>
</html>